:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #FFF;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(101,33,33,1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: rgba(0, 0, 0, 0.3);
  --modern-purple: #9b59b6;
  --light-purple: #b085d6;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  max-width: 580px;
  margin: 5px auto;
  text-align: center;
}

@media (max-width: 768px) {
  main {
    max-width: 90%;
    margin: 5px auto;
  }
}

@media (max-width: 480px) {
  main {
    max-width: 95%;
    margin: 5px auto;
  }
}


h1 {
  font-size: 2.0em;
  line-height: 0.5;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: var(--light-purple);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

button:hover {
  background-color: var(--modern-purple);
  border-color: var(--light-purple);
}

button:focus,
button:focus-visible {
  outline: 4px auto var(--modern-purple);
}

.card-grid {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
  border: 1px solid #fff;
  border-radius: 6px;
}

/* Front of card (the picture) */
.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* Back of card (the cover) */
.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 1.1em;
  color: #fff;
}

.stats p {
  background-color: var(--background-color);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .stats {
    flex-direction: column;
    gap: 10px;
  }

  .stats p {
    font-size: 1em;
    padding: 8px 16px;
  }
}

.timer {
  display: flex;
  align-items: center;
}